# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build files
dist/
build/

# Local Environment secrets
.env
.env*.local
*.pem

# IDEs & System files
.DS_Store
.idea/
.vscode/
Thumbs.db
